<!doctype html>
<html lang="en">
{% load static %}
{% load recipe_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
</head>
<body class="body">
<header class="header">
    {% include "includes/nav.html" %}
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">

        {% for author in page %}
        <div class="card-user" data-author="{{ author.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{ author.username }}</h2>
        </div>
        <div class="card-user__body">

            {% for recipe in author.recipe_author.all|slice:':3' %}
                <ul class="card-user__items">
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="./images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">{{ recipe.title }}</h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }}</p>
                        </div>
                    </li>
            {% endfor %}
        {% endfor %}

            {% if author.recipe_author.all|length > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'profile' author.username %}" class="card-user__link link">Еще{{ author.recipe_author.all|length|add:'-3'}} {{ author.recipe_author.all|length|add:'-3'|plural_recipes }}...</a>
                </li>
            {% endif %}
            </ul>
        </div>
        {% if page %}
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        {% endif %}

    </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
</main>
{% include "includes/footer.html" %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/MyFollow.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>

</body>
</html>
