<div class="card-list">
    <div class="card" data-id="120">
        {% load thumbnail %}
        {% thumbnail recipe.image "360x339" crop="center" upscale=True as im %}
            <img class="card-img" src="{{ im.url }}" />
        {% endthumbnail %}
        <div class="card__body">
            <a class="card__title link" href="{% url 'recipe' recipe.author recipe.id %}" target="_blank">{{ recipe.title }}</a>
            <ul class="card__items">
                {% for tag in recipe.tags.all %}
                    {% if tag.name == 'Обед'%}
                        <li class="card__item"><span class="badge badge_style_green">{{ tag.name }}</span></li>
                    {% endif %}
                    {% if tag.name == 'Завтрак' %}
                        <li class="card__item"><span class="badge badge_style_orange">{{ tag.name }}</span></li>
                    {% endif %}
                    {% if tag.name == 'Ужин' %}
                        <li class="card__item"><span class="badge badge_style_purple">{{ tag.name }}</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author %}"
                        style="color: black">{{ recipe.author }}</a></p>
            </div>
        </div>
        <div class="card__footer">
            <button class="button button_style_light-blue" name="purchases" data-out><span
                    class="icon-plus button__icon"></span>Добавить в покупки</button>
        </div>
    </div>
</div>