{% extends "recipes/base.html" %}
{% load static %}
{% block title %} Об авторе {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock stylesheet %}

{% block nav %}
    {% include "includes/nav.html" %}
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
           <p><h3> Меня зовут Екатерина, я выпускница Яндекс.Практикума 
           по специальности Pyhton-разработчик. Со мной можно связаться через:</h3>
           <p><h4><a href='mailto:caterina.plewako@yandex.ru'>Почту: caterina.plewako@yandex.ru</h4></a></p>
           <p><h4><a href='https://vk.com/id232216748'>ВК</a></h4></p>
           <p><h4><a href='https://github.com/Caterina-Plewako'>Мой профиль на Github</a></h4></p>
    </main>

{% endblock %}